<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Hogwarts</title>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1 id="logo">Welcome to Hogwarts</h1>
  <nav id="menu">
    <li class="menu-item"><a href='/students'>Students</a></li>
    <li class="menu-item"><a href='/students/new'>Enrol Student</a></li>
  </nav>
  <%= yield %>  
</body>
</html>
